.DeleteConfirmWidget {
  font-family: Noto Sans CJK KR Subset,sans-serif;
  width: 350px;
  padding: 25px;
  overflow: auto;
}

.DeleteConfirmWidget__title {
  text-align: center;
  font-weight: 600;
  color: $color-middle-gray-blue;
}

.DeleteConfirmWidget__content {
  font-weight: 400;
  font-size: 13px;
  color: $color-middle-gray-blue;
  display: inline-block;
  text-align: center;
}

.DeleteConfirmWidget__btn-box {
  display: flex;
  justify-content: center;
}
