.DeleteConfirmWidget {
  padding: 25px;
  overflow: auto;
}

.DeleteConfirmWidget__title {
  text-align: center;
  font-weight: 600;
  color: $color-middle-gray-blue;
}

.DeleteConfirmWidget__content {
  font-weight: 400;
  font-size: 13px;
  color: $color-middle-gray-blue;
  text-align: center;
  display: flex;
  align-items: center;
}

.DeleteConfirmWidget__btn-box {
  display: flex;
  justify-content: center;
}
