.GNBWrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;

  height: 100%;
}

.GNBWrapper__content {
  order: 2;
  flex: 5 5 200px;

  color: #424242;
  overflow: scroll;
  max-width: 950px;
}
