.GNBWrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
}

.GNBWrapper__content {
  order: 2;
  flex: 5 5 200px;
  overflow: scroll;
  background-color: $color-cool-gray20;
  color: $color-middle-gray-blue;
}
