.Btn {
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  color: #616161;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  height: 32px;
  margin: 0 3px 12px;
  padding: 7px 12px 7px;

  &:hover {
    color: #212121;
  }
}

.Btn--primary {
  background: #f8c710;
  border: 1px solid #dda500;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #743f01;

  &:hover {
    color: #492100;
  }
}

.Btn--dark-gray {
  background: #424242;
  border: 1px solid #424242;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  color: #bdbdbd;

  &:hover {
    color: #eee;
  }
}

.Btn-middle {
  width: 100px;
}


.