.Card {
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 18px 18px 6px;
  text-align: left;
  margin-bottom: 15px;
}

.Card__content {
  font-size: 15px;
  font-weight: 400;
}

.Card__content--postscript {
  font-size: 12px;
  font-weight: 400;
}
