{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "actions": "./app/actions",
        "assets": "./app/assets",
        "constants": "./app/constants",
        "components": "./app/components",
        "main": "./app/main",
        "renderer": "./app/renderer",
        "process": "./app/process",
        "setting": "./app/renderer/pages/setting",
        "widget": "./app/renderer/pages/widget",
        "scss": "./app/renderer/scss",
        "utils": "./app/utils",
        "store": "./app/store"
      },
      "extensions": [".js", ".jsx"]
    }]
  ]
}
