.Preference {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Preference__Content {
  background-color: rgb(239, 239, 239);
  border-top: 1px solid rgb(177, 177, 177);
  height: 100%;
  width: 100%;
}
