.WidgetInfo__button-box {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.WidgetInfo__sub-title {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.WidgetInfo__Card {
  color: #424242;
  border: 1px solid #e1e1e1;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.WidgetInfo__input {
  width: 90%;
}

.WidgetInfo__Card-full {
  margin-bottom: 15px;
}

.WidgetInfo__content-small {
  width: 130px;
  text-align: center;
}

.WidgetInfo__content-name {
  width: 350px;
}

.WidgetInfo__content-url {
  width: 100%;
}

.WidgetInfo__content-large {
  flex: 4 -1 400px;
}

.WidgetInfo__content-position {
  display: inline-block;
}

.WidgetInfo__content-size {
  display: inline-block;
}

.WidgetInfo__Card-center {
  text-align: center;
  max-width: 400px;
}

.WidgetInfo__Toggle-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .WidgetInfo__content-name {
    width: 100%;
  }
}

