.WidgetList {
  height: 100%;
}

.WidgetList__content {
  padding: 15px;
}
.WidgetList__list {
  margin: 20px;
}

.WidgetList__box {
  flex: 3 3 auto;
  margin: 20px;
}

.WidgetList__title {
  margin-bottom: 15px;
}

.WidgetList__add-btn {
  background-color: #0000ff;
  border-radius: 5px;
  color: #ffffff;
  height: 45px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .75rem 1.25rem;
}
