.WebWidgetHeader__title-bar {
  background-color: #2E333F;
  color: #ffffff;
  font-family: sans-serif;
  -webkit-app-region: drag;
  height: 28px;
  width: 100%;
}

.WebWidgetHeader__thumbtack {
  background-color: transparent;
  color: #F1F1F1;
  width: 24px;
  height: 28px;

  :hover {
    background-color: #3f3f41;
  }
}

.WebWidgetHeader__history-set {
  display: inline;
}

.WebWidgetHeader__button-setting {
  color: #F1F1F1;
  height: 28px;
}

.WebWidgetHeader__button-set {
  display: inline-block;
  float: right;
}

.WebWidgetHeader__title {
  display: inline-block;
  line-height: 28px;
  font-size: 12px;
  text-align: center;
}

.WebWidgetHeader__button {
  border: none;
  color: #F1F1F1;
  width: 24px;
  height: 28px;

  :hover {
    background-color: #3F3F41;
    color: black;
  }
}

@media (max-width: 412px) {
  .WebWidgetHeader__history-set,
  .WebWidgetHeader__button-setting {
    display: none;
  }
}
