.PreferenceHeader {
  background-color: rgb(227,227,227);
  text-align: center;
  height: 80px;
  width: 100%;
}

.PreferenceHeader__Draggable {
  background-color: rgb(227,227,227);
  height: 21px;
  -webkit-app-region: drag;
}

.PreferenceHeader__nav {
  display: flex;
}

.PreferenceHeader__Link {
  font-size: 13px;
  height: 55px;
  padding: 5px;
  margin: 2px;
  border-radius: 15%;
}

.PreferenceHeader__Link--select {
  background-color: rgb(195, 195, 195);
}

.PreferenceHeader__icon {
  width: 45px;
  height: 45px;
}
