.UpdateWindow {
  padding: 20px 40px 20px 40px;
  background-color: rgb(235, 237, 241);
  height: 100%;
}

.UpdateWindow__title {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.UpdateWindow__logo {
  display: block;
  width: 60px;
  margin: auto;
  float: left;
  height: 60px;
}

.UpdateWindow__notice {
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
}

.UpdateWindow__content {
  text-align: left;
}

.UpdateWindow__content-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
}

.UpdateWindow__content-note {
  background-color: white;
  overflow: scroll;
  height: 150px;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  margin: auto;
}

.UpdateWindow__checkbox-label {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.UpdateWindow__checkbox {
  margin-right: 5px;
}

.UpdateWindow__btn-set {
  margin-top: 15px;
}

.UpdateWindow__btn-skip {
  float: left;
  padding: 3px;
  width: 100px;
  margin: 5px;
}

.UpdateWindow__btn-install,
.UpdateWindow__btn-remind {
  float: right;
  padding: 3px;
  width: 100px;
  margin: 5px;
}
