$GNB-background-color: #424242;

.GlobalNavigationBar {
  // flex-item
  order: 1;
  flex: 1 1 150px;

  background-color: $GNB-background-color;
  max-width: 250px;
  padding: 20px 0 0 20px;
}

.GlobalNavigationBar__list {
  color: #BBBDC0;
  background-color: $GNB-background-color;
  border: 0;
  height: 100%;
  text-align: center;
  width: 100%;
}

.GlobalNavigationBar__link {
  width: 100%;
  height: 100%;
}
