

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('나눔고딕 Regular'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('나눔고딕 Bold'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: local('나눔고딕 ExtraBold'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

p,
textarea {
  font-size: 16px;
  letter-spacing: -0.03em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

// 48px
h1 {
  font-size: 48px;
  letter-spacing: -0.04em;
  line-height: 1.35;
}

// 42px
h2 {
  font-size: 42px;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

// 40px
h3 {
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 1.35;
}

// 36px
h4 {
  font-size: 36px;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

// 28px
h5 {
  font-size: 28px;
  letter-spacing: -0.04em;
  line-height: 1.35;
}

// 21px
h6 {
  font-size: 21px;
  letter-spacing: -0.03em;
  line-height: 1.35;
}

// 스타일링 엘리멘트
// -----------------------------------

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

// 300weight는 font 유틸리티 클래스를 이용해 적용.


//15px
small {
  font-size: 15px;
  line-height: 1.6;
}

.text-overflow {
  text-overflow: ellipsis;
}

@media (max-width: $middle-break-point) {

  html {
    font-size: 14px;
  }

  p,
  textarea {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  small {
    font-size: 14px;
  }
}
