.EditTab {
  width: 40%;
  background-color: #f7f7f7;
  height: 100%;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,.38);
  z-index: 3;
}

.EditTab__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  border-bottom: 2px solid $color-cool-gray200;
}

.EditTab__title {
  font-size: 22px;
  font-weight: 700;
}

.EditTab__close-btn {
  height: 100%;
  width: 30px;
  &:hover {
    background-color: $color-black-opacity05;
    border-radius: 8px;
    svg {
      fill: #aeaeae;
    }
  }
}

.EditTab__close-icon {
  height: 100%;
  width: 100%;
  svg {
    fill: #c2c2c2;
  }
}

.EditTab__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.EditTab__input-set {
  margin: 20px 20px 0 20px;
  width: 90%;
}

.EditTab__label {
  font-size: 16px;
  align-self: baseline;
}

.EditTab__input {
  &:focus {
    outline: 2px solid $color-blue;
  }
}

.EditTab__highlight {
  background-color: $color-light-yellow;
}

.EditTab__hidden {
  display: none;
}

.EditTab__btn-set {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.EditTab__btn {
  font-size: 16px;
}
