.ReloadButton {
  display: flex;
  align-items: center;

  &:hover {
    height: 100%;
    background-color: $color-middle-gray-blue;
  }
}

.ReloadButton__btn {
  &:hover {
    path {
      fill: $color-white;
    }
  }
}
