.SearchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  margin-left: 6px;
}


.SearchInput__icon {
  padding: 8px;
  width: 40px;
}

.SearchInput__input {
  width: 100%;
  font-size: 20px;
  padding-left: 10px;

  &:focus {
    outline: none;
  }

}

