.ToggleButton__wrapper {
  align-items: center;
  background: #4D4D4D;
  border-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.ToggleButton__wrapper-active {
  background-color: #19AB27;
  color: #000;
}

.ToggleButton__btn {
  background-color: #FAFAFA;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.ToggleButton__btn-active {
  border: 1px solid #19AB27;
  left: 27px;
}

.ToggleButton__value {
  position: absolute;
  overflow: hidden;
  font-size: 10px;
  transform-origin: 50% 50% 0;
}

.ToggleButton__value-checked {
  left: 20%;
}

.ToggleButton__value-un-checked {
  left: 65%;
}
