.EditSize {
  margin-top: 30px;
  border-top: 1px solid $color-gray300;
}

.EditSize__header {
  margin-top: 48px;
}

.EditSize-description {
  font-weight: 400;
  font-size: 13px;
  color: $color-middle-gray-blue;
  display: inline-block;
}

.EditSize__text-input {
  font-size: 15px;
  max-width: 126px;
  text-align: right;
  border: 1px solid $color-gray250;
  border-radius: 3px;
  color: $global-text-color;
  transition: all 0.2s;
  width: 100%;
  box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.06);
  margin-right: 8px;
  background: $color-white;
  height: auto;
  padding: $unit * 1.5;

  &::placeholder {
    color: $color-gray-blue;
    opacity: 0.5;
  }

  &:disabled {
    background: $color-gray50;
    border: 1px solid $color-gray300;
    box-shadow: none;
    color: $color-gray500;
  }

  &:focus {
    border: 1px solid $color-light-gray-blue;
    outline: none;
  }
}

.EditSize__content {
  padding-left: 30px;
}