.MenuNewWindow {
  background-color: gainsboro;
  position: absolute;
}

.MenuNewWindow__btn {
  width: 100%;
  height: 100%;
}

.MenuNewWindow__list {
  width: 100px;
  height: 30px;
  background-color: antiquewhite;
  border: 1px solid black;
  margin-bottom: -1px;
}
