.AddressBar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.AddressBar__front-button-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.AddressBar__button {
  svg {
    width: 22px;
  }

  &:disabled {
    opacity: 0.2;
  }

  &:hover {
    background: $color-black-opacity15;
    border-radius: 4px;
  }
}

.AddressBar__address {
  display: flex;
  flex: 1;
  border-right: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  padding: 5px;
}

.AddressBar__address-value {
  display: flex;
  width: 80%;
}

.AddressBar__address-input {
  background-color: rgb(240, 240, 240);
  height: 100%;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  &:focus {
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 100px;
  }
}

.AddressBar__cancel-icon {
  margin-right: 8px;
  svg {
    width: 12px;
    background-color: #a8a8a8;
    border-radius: 100%;
    padding: 3px;
  }
}

.AddressBar__address-button {
  display: flex;
  border-radius: 100px;
  background-color: rgb(212, 212, 212);
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  height: 30px;
}

.AddressBar__home-url {
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AddressBar__home-icon {
  margin: 0 4px;
  svg {
    width: 20px;
  }
}

.AddressBar__end-button-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  padding: 8px;
}

.AddressBar__more-btn,
.AddressBar__pin-btn {
  border-radius: 5px;
  width: 22px;
}

.AddressBar__pin {
  svg {
    transform: rotate(45deg);
  }
}

.AddressBar__pin--active {
  svg {
    transform: rotate(0);
  }
}

.AddressBar__pin-btn--active,
.AddressBar__more-btn--active {
  background-color: rgb(212, 212, 212);
}

@media (max-width: $body-min-width) {
  .AddressBar__address-input,
  .AddressBar__address-button {
    display: none;
  }

  .AddressBar__address {
    border: 0;
  }
}

@media (max-width: 550px) and (min-width: $body-min-width){
  .AddressBar__home-url {
    display: none;
  }

  .AddressBar__address-button {
    display: inline-block;
    flex: 0;
    min-width: 35px;
    width: 35px;
    padding: 0;
  }
}
