.AddressBar {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.AddressBar__button {
  width: 25px;
  margin: 5px;

  &:disabled {
    opacity: 0.5;
  }
}

.AddressBar__address {
  display: flex;
  flex: 1;
  border-right: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  padding: 5px;
}

.AddressBar__address-input {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex: 8;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  padding: 0 5px;
}

.AddressBar__address-button {
  flex: 2;
  display: flex;
  align-self: center;
  border-radius: 20px;
  height: 25px;
  background-color: rgb(212, 212, 212);
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 10px;
}

.AddressBar__home-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AddressBar__home-icon {
  width: 20px;
  margin: 5px;
}

.AddressBar__more-btn,
.AddressBar__pin-btn {
  float: right;
  margin: 8px;
  padding: 2px;
  border-radius: 5px;
}

.AddressBar__pin {
  transform: rotate(45deg);
}

.AddressBar__pin--active {
  transform: rotate(0);
}

.AddressBar__pin-btn--active,
.AddressBar__more-btn--active {
  background-color: #e0e0e0;
}

@media (max-width: $body-min-width) {
  .AddressBar__address-input,
  .AddressBar__address-button {
    display: none;
  }

  .AddressBar__address {
    border: 0;
  }
}

@media (max-width: 550px) and (min-width: $body-min-width){
  .AddressBar__home-url {
    display: none;
  }

  .AddressBar__address-button {
    display: inline-block;
    flex: 0;
    min-width: 35px;
    width: 35px;
    padding: 0;
  }
}
