.Update {
  margin: 15px;
}

.Update__title {
  font-weight: 600;
  font-size: 14px;
}

.Update__app-name {
  display: block;
  color: #507deb;
  text-decoration: underline;
  margin: 10px;
}

.Update__list {
  display: flex;
  padding: 10px;
  background: white;
  font-size: 14px;
}
