.TitleBar {
  display: flex;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.TitleBar__close-btn {
  display: inline-block;
  width: 45px;
  padding: 10px;
  order: 1;
  -webkit-app-region: no-drag;
}

.TitleBar__close-img {
  width: 100%;
  height: 100%;
}

.TitleBar__title {
  display: inline-block;
  flex: 1;
  align-self: center;
  text-align: center;
  user-select: none;
}

.TitleBar__asset {
  margin-left: -60px;
  align-self: center;
  display: inline-block;
  -webkit-app-region: no-drag;
}

.TitleBar__button {
  float: right;
  width: 20px;
  margin: 5px;
  opacity: 0.2;

  &:disabled {
    opacity: 1;
  }
}

.TitleBar__desktop-icon,
.TitleBar__mobile-icon {
  width: 100%;
  height: 100%;
}
