.TitleBar {
  display: flex;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.TitleBar__close-btn {
  display: inline-block;
  padding: 0 8px;
  order: 1;
  -webkit-app-region: no-drag;

}

.TitleBar__close-img {

  svg {
    fill: #ffffff;
    width: 20px;
  }
}

.TitleBar__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  order: 2;
  flex-grow: 1;
  align-self: center;
  white-space: nowrap;
}

.TitleBar__asset {
  min-width: 76px;
  padding: 0 8px;
  order: 3;
  -webkit-app-region: no-drag;
}

.TitleBar__button {
  float: right;
  width: 20px;
  margin: 5px;
  opacity: 0.2;

  &:disabled {
    opacity: 1;
  }
}

.TitleBar__desktop-icon,
.TitleBar__mobile-icon {
  width: 100%;
  height: 100%;

  svg {
    fill: #ffffff;
  }
}
