.TitleBar {
  display: flex;
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.TitleBar__close-btn {
  display: inline-block;
  width: 45px;
  padding: 10px;
  order: 1;
}

.TitleBar__close-img {
  width: 100%;
  height: 100%;
}

.TitleBar__title {
  display: inline-block;
  order: 2;
  flex-grow: 1;
  align-self: center;
}

.TitleBar__asset {
  align-self: center;
  display: inline-block;
  order: 3;
  -webkit-app-region: no-drag;
}

.TitleBar__button {
  float: right;
  width: 20px;
  margin: 5px;
  opacity: 0.5;

  &:disabled {
    opacity: 1;
  }
}

.TitleBar__desktop-icon,
.TitleBar__mobile-icon {
  width: 100%;
  height: 100%;
}

.TitleBar__icon--active {
  opacity: 0.8;
}
