.SearchMenu {
  display: flex;
  flex-direction: column;
  background-color: #303240;
  height: 100%;
}

.SearchMenu__Logo {
  width: 65px;
  height: 65px;
  align-self: center;
}

.SearchMenu__List {
  display: flex;
  flex-direction: column;
}

.SearchMenu__Item {
  height: 75px;
}

.SearchMenu__Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.SearchMenu__Btn--active {
  font-weight: 700;
}

.SearchMenu__Icon {
  align-self: center;
  vertical-align: middle;
  width: 30px;
  padding-bottom: 5px;
}

.SearchMenu__Btn {
  color: #e4e4e4;
  height: 100%;
  width: 100%;
}
