.SearchMenu {
  display: flex;
  flex-direction: column;
  background-color: #21242C;
  height: 100%;
}

.SearchMenu__Logo {
  padding: 12px;
  width: 60px;
  align-self: center;
  background-color: #111111;
}

.SearchMenu__List {
  display: flex;
  flex-direction: column;
}

.SearchMenu__Item {
  height: 70px;
  background-color: #21242C;

  &:hover {
    background-color: #111111;
  }
}

.SearchMenu__Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #8c8c8c;

  &:hover {
    color: #ffffff;
  }
}

.SearchMenu__Btn--active {
  font-weight: 800;
  color: #ffffff;
}

.SearchMenu__Icon {
  align-self: center;
  vertical-align: middle;
  width: 25px;
  padding-bottom: 8px;

}

.SearchMenu__Btn {
  height: 100%;
  width: 100%;
}
