html {
  margin: 0px;
  padding: 0px;
 }
 
body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

html, body {
  height: 100%
} 

#title-bar {
  -webkit-app-region: drag;
  height: 28px; 
  padding: 0px;
  margin: 0px; 
  background-color: #2D2D30;
  color: white;
  font-family: sans-serif;
 }
 
 
 
#title {
  position: fixed;
  top: 0px;
  left: 24px;
  line-height: 28px;
  font-size: 12px;
 }
 
 
 
#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
 }
 
 
#title-bar-btns button {
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  width: 24px;
  height: 28px;
  padding: 0px;
  margin: 0px;
  display: block;
  float: left;
}

#thumbtack {
  -webkit-app-region: no-drag;
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  width: 24px;
  height: 28px;
}

#thumbtack:hover {
  background-color: #3f3f41;
}

#title-bar-btns button.hover-normal:hover {
  background-color: #3F3F41;
}

#title-bar-btns button.hover-danger:hover {
  background-color: red;
}

#content {
  padding: 12px; 
  color: #CCCCCC;
}

a {
  color: #68217A;
}