.SearchItem {
  padding: 5px;
  display: flex;
  height: 35px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

.SearchItem__select {
  background-color: darkgray;
}

.SearchItem__Text {
  display: flex;
  flex: 2;
}

.SearchItem__Btn {
  cursor: default;
  width: 100%;
  height: 100%;
}

.SearchItem__BtnSet {
  display: flex;
  flex: 1
}
