.ConfigureHotKey {
  width: 150px;
  border: 1px solid $color-cool-gray300;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.ConfigureHotKey__edit {
  border: 3px solid $color-blue;
}
