.WebWidgetMobileHeader {
  background: rgba(53,62,71,0.8);
  height: 26px;
  position: fixed;
  transition: all .2s ease-in;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 6px;
  opacity: 0;

  &:hover {
    background: rgba(53,62,71,1);
  }
}

.WebWidgetModalHeader__open {
  opacity: 1;
}

.WebWidgetMobileHeader__front_btn  {
  display: flex;
  align-items: center;
}

.WebWidgetMobileHeader__setting {
  padding: 0 8px;

  &:hover {
    height: 100%;
    background-color: $color-middle-gray-blue;
    path {
      fill: $color-white;
    }
  }

}

@media (min-width: 412px) {
  .WebWidgetMobileHeader {
    display: none;
  }
}
