.ToggleButton__wrapper {
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #d1d1d1;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.4s cubic-bezier(0.91, 0.16, 0.13, 1.1);
  margin: 0;
}

.ToggleButton__wrapper-active {
  background: linear-gradient(-90deg, #7751E6, #5658FF,#488CFF);
  border: 1px solid $color-blue;
}

.ToggleButton__btn {
  background-color: $color-white;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  left: -2px;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.91, 0.16, 0.13, 1.1);
}

.ToggleButton__btn-active {
  border: 1px solid $color-blue;
  transform: translateX(20px);
  box-shadow: -2px 2px 2px -1px rgba(0,26,178,0.24)
}

.ToggleButton__value {
  position: absolute;
  overflow: hidden;
  font-size: 10px;
  transform-origin: 50% 50% 0;
}
