.MakeWebWidget {
  width: 350px;
  height: 400px;
  padding: 25px;
  font-family: Noto Sans CJK KR Subset,sans-serif;
}

.MakeWebWidget__title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.MakeWebWidget__button-set {
  text-align: center;
  margin: 15px;
}
