.MakeWebWidget {
  width: 517px;
  padding: 25px;
  font-family: Noto Sans CJK KR Subset,sans-serif;
}

.MakeWebWidget__title {
  text-align: left;
  font-weight: 600;
  color: $color-middle-gray-blue;
}

.MakeWebWidget__button-set {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.MakeWebWidget__line {
  border-top: 1px solid $color-gray300;
}
